@font-face {
  font-family: myGothamFont;
  src: url("../font/1746-font.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clr {
  clear: both;
}
.font-size-14px {
  font-size: 14px;
}

#header {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D")
    no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
svg {
  fill: white;
}
.svg-wrap {
  width: 120px;
  height: 50px;
  float: left;
  margin-left: 47px;
}
.svg-wrap-container {
  width: 30%;
}
.nav ul {
  display: inline;
  list-style: none;
  margin-top: 15px;
}
a {
  text-decoration: none;
}
.font-fam {
  font-family: myGothamFont;
}

.nav {
  width: 100%;
  height: 40px;
  position: fixed;
  text-align: center;
  display: inline;
  padding-top: 19px;
  padding-left: 1px;
}

.nav ul li a {
  color: rgb(249, 249, 249);
  line-height: 21px;
  font-size: 15px;
}
.nav ul li {
  display: inline;
  width: 15px;
  height: 5px;
  padding: 12px;
}
.nav ul li:hover {
  border: initial black 1px;
  background: rgb(120, 125, 133);
  transition: 0.5;
  border-radius: 33%;
}

.nav-1 {
  float: right;
  margin-right: 2%;
}

.nav-2 {
  margin: 0 auto;
}

.section-body h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 14%;
  left: 45%;
  font-weight: 500;
  line-height: 48px;
}
/* Description */
.sppedometer {
  position: relative;
  width: 30px;
  height: 30px;
}
.speed {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 5px;
  left: 5px;
}

.tcl-speedometer__needle {
  width: 28px;
  height: 18px;
  position: absolute;
  top: 17px;
  left: 18px;
  transform: rotate(90deg);
}
.speed-time {
  font-size: 30px;
  line-height: 37px;
  font-weight: 45;
  position: absolute;
  left: 50px;
}
.section-description {
  width: 30%;
  height: 80px;
  position: absolute;
  top: 85%;
  left: 35%;
  color: white;
}
.speed-rang {
  position: absolute;
  top: 42px;
  left: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
