@font-face {
  font-family: myGothamFont;
  src: url("../font/1746-font.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clr {
  clear: both;
}
.font-size-30px {
  font-size: 30px;
  line-height: 37px;
  font-weight: 45;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-12px {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#header {
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8fa80996-ac5c-4cef-9534-a61a9457bfb3/bvlatuR/std/2880x1800/M3-Hero-LHD-US-D")
    no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
svg {
  fill: white;
}
.svg-wrap {
  width: 120px;
  height: 50px;
  float: left;
  margin-left: 47px;
}
.svg-wrap-container {
  width: 30%;
}
.nav ul {
  display: inline;
  list-style: none;
  margin-top: 15px;
}
a {
  text-decoration: none;
}
.font-fam {
  font-family: myGothamFont;
}

.nav {
  width: 100%;
  height: 40px;
  position: fixed;
  text-align: center;
  display: inline;
  padding-top: 19px;
  padding-left: 1px;
}

.nav ul li a {
  color: rgb(249, 249, 249);
  line-height: 21px;
  font-size: 15px;
}
.nav ul li {
  display: inline;
  width: 15px;
  height: 5px;
  padding: 12px;
}
.nav ul li:hover {
  border: initial black 1px;
  background: rgb(120, 125, 133);
  transition: 0.5;
  border-radius: 45px;
}

.nav-1 {
  float: right;
  margin-right: 2%;
}

.nav-2 {
  margin: 0 auto;
}

.section-body h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  position: absolute;
  top: 14%;
  left: 45%;
  font-weight: 500;
  line-height: 48px;
}
/* Description */
.left-spedometer-mi {
  width: 100%;
  height: 100%;
  position: relative;
}
#speed-to-60 {
  float: left;
  width: 20%;
  height: 100%;
}

.sppedometer {
  position: relative;
}
.speed {
  position: absolute;
  width: 40px;
  height: 35px;
  top: 5px;
  left: 5px;
}

.tcl-speedometer__needle {
  width: 28px;
  height: 18px;
  position: absolute;
  top: 17px;
  left: 18px;
  transform: rotate(90deg);
}
.speed-time {
  position: absolute;
  left: 50px;
}
.section-description {
  width: 70%;
  height: 80px;
  position: absolute;
  top: 80%;
  left: 28%;
  color: white;
}
.section-descriptin-rghit {
  background: white;
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.section-descriptin-rghit:hover {
  cursor: pointer;
}

.section-descriptin-rghit img {
  position: absolute;
  top: 25%;
  left: 20%;
}
.section-description-left {
  width: 60%;

  float: left;
}

.speed-rang {
  position: absolute;
  top: 42px;
  left: 20px;
}

.box {
  width: 120px;
  height: 100%;
}
#mi-range {
  margin-left: 32%;
}
#range {
  margin-top: 5px;
  margin-left: -3px;
}
.button {
  float: right;
  height: 100%;
  width: 20%;
  text-align: center;
}
.button input {
  margin-top: 15px;
  border: solid white 2px;
  border-radius: 50px;
  padding: 10px 35px;
  color: white;
  background: Transparent;
  cursor: pointer;
}
.button input:hover {
  background: white;
  color: black;
}

.section-descriptin-rghit {
  float: right;
}
#awd {
  position: absolute;
  left: 61%;
  bottom: 0px;
}
.awm-text-2 {
  margin-top: 4px;
  margin-left: 1px;
}
