.border {
  border: black 2px solid;
}
.backgrounColor {
  background: white;
}
#one {
  position: absolute;
  width: 400px;
  height: 320px;
}
#tow {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 380px;
  height: 300px;
}
#three {
  position: absolute;
  left: 700px;
  width: 100px;
  height: 700px;
}
#four {
  position: absolute;
  top: 450px;
  width: 830px;
  height: 200px;
}
