#card {
  max-width: 20%;
  max-height: 400em;
  margin: auto;

  background-color: rgb(207, 195, 127);
}
#img {
  max-width: 100%;
}

.links {
  color: rgb(173, 179, 100);
  margin-left: 1em;
  margin-bottom: 2em;
}

#h2 {
  padding-left: 1em;
  margin-bottom: 0;
}
#para {
  padding-left: 1.6em;
  margin-top: 2px;
  margin-bottom: 3px;
}
