* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  transform: translateX(300px);
}
.box::after {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  background: blue;
  transform: translateX(-300px);

  position: absolute;
}
.box:hover::after {
  animation: anima1 2s ease-in 1 forwards;
}
@keyframes anima1 {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
    background: chartreuse;
  }
}
