* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  transform: translateX(300px);
}
.box::after {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  background: blue;
  transform: translateX(-300px);
  transition: transform 2s ease-in, background 2s ease-in;
  position: absolute;
}
.box:hover::after {
  transform: translateX(0px);
  background: chartreuse;

  transition: transform 2s ease-in, background 2s ease-in;
}
