:root {
  --botton-width: 7rem;
  --botton-height: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border {
  border: 2px solid grey;
}
.padding {
  padding: 5px;
  margin: 10px;
}
.box {
  text-align: center;
  width: var(--botton-width);
  height: var(--botton-height);
}
.box-big {
  text-align: center;
  width: 10rem;
  height: var(--botton-height);
}
.container {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overflow {
  overflow: hidden;
}
.rotate::before {
  content: "";
  display: block;
  background: yellow;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in;
  position: absolute;
  transform: rotate(90deg);
  bottom: 250%;
  right: 40%;
  z-index: -1;
}
.rotate:hover:before {
  bottom: 0;
  right: 0;

  transform: rotate(180deg);
  transition: all 1s ease-in;
}
.rotate {
  background: transparent;
  position: relative;
  cursor: pointer;
}

/* translateY */
.translateY::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "YEAH!";
  text-align: center;
  background: red;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
}
.translateY:hover:before {
  transform: translateY(0%);
  transition: all 0.5s ease-in;
}
.translateY {
  background: transparent;
  position: relative;
  cursor: pointer;
}
/* translate */
.translate::before {
  content: "";

  background: black;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in;
  position: absolute;
  transform: translate();
  top: 0;
  left: -100%;
  color: black;
  z-index: -1;
}
.translate:hover:before {
  color: white;
  transform: translate(100%);
  transition: all 1s ease-in;
}
.translate {
  background: transparent;
  position: relative;
  color: black;
  transition: all 0.9s ease-in;
  cursor: pointer;
}
.translate:hover {
  color: white;
  transition: all 0.9s ease-in;
}
/* scale-opacity */
.scale-opacity::after {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 10em;
  height: 1.7em;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  content: "Scale & Opacity";

  background: black;
  transform: scale(2);
  transition: all 0.5s ease-in;
  opacity: 0;
}
.scale-opacity:hover::after {
  opacity: 1;
  transform: scale(100%);
  transition: all 0.3s ease-in;
}
.scale-opacity {
  background: transparent;
  position: relative;
  cursor: pointer;
}
