:root {
  --botton-width: 7rem;
  --botton-height: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border {
  border: 2px solid grey;
}
.padding {
  padding: 5px;
  margin: 10px;
}
.box {
  text-align: center;
  width: var(--botton-width);
  height: var(--botton-height);
}
.box-big {
  text-align: center;
  width: 9rem;
  height: var(--botton-height);
}
.container {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rotate::before {
  content: "";
  display: block;
  background: ;
  width: var(--botton-width);
  height: var(--botton-height);
  position: absolute;
  top: 0;
  left: 0;
}
.rotate {
  background: transparent;
  position: relative;
}

@keyframes rotate-anim {
  from {
    background: transparent;
    transform: rotate(-90deg);
  }
  to {
    background: yellow;
    transform: rotate(0deg);
  }
}
