#red-border {
  border: red solid 1px;
  border-radius: 5px;
  font-size: 30px;
}
#font {
  font-weight: bold;
  font-style: italic;
}
#third {
  background-color: black;
  font-family: monospace;
  color: white;
  box-shadow: 5px 10px #d8cfcf;
}
