.container {
  width: 50%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background: cornsilk;
}
.box {
  width: 4rem;
  height: 4rem;
}
.first-box {
  background: green;
}
.second-box {
  background: blue;
}
.third-box {
  background: red;
}
