* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  border-radius: 10px;
}

.container {
  width: 100%;
  height: 50vh;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto-fill);
  grid-gap: 1rem;
}
.first {
  grid-column: 1 / span 4;
  background: rgb(189, 49, 49);
}
.second {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  background: green;
}
.thired {
  grid-column: 3 / span 2;
  background: black;
}
.fourth {
  background: orange;
}
.fivth {
  background: paleturquoise;
}
