.container {
  width: 50%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: none;
  background: cornsilk;
  
}
.box {
  width: 4rem;
  height: 4rem;
}
.first-box {
  background: green;
}
.second-box {
  background: blue;
}
.third-box {
  background: red;
}
